{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Inovaí - Material de Programação{% endblock title %}</title>
    {% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.14/iconfont/material-icons.min.css">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% endblock head %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            min-height: 100vh;
            background-image:
                linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.5)),
                url("{% static 'images/wrinkled-paper-background.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    {% endblock style %}
</head>
<body>
    {% block content %}
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
    {% block bootstrapbundle %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    {% endblock bootstrapbundle %}
</body>
</html>